*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    position: relative;
    bottom: 160px;
  }
  
  @media screen and (max-width: 475px) {
   body,html{
    overflow: hidden !important;
   }
    #display{
      
      display: flex;
      justify-content: center;
    }
    
  }